<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content"width=device-width, initial-scale=1.0"> 
	<title> JustShop Website</title>
	<%- include('layout/css_links.ejs') %>
</head>

<body>
    <%-include('layout/header.ejs'); %>

    <div class="container" style="height: 50vh;">
        <h2 class="title">About Us</h2>
        
        <div class="text-center mt-5" style="font-size: 20px;">
            <p>This is a project of Group 8</p>
            <p>Our e-commerce web application serves grocery products</p>
            <p>Has fun shopping!^^</p>
        </div>
    </div>

    <%- include('layout/footer.ejs') %>
</body>