<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title> JustShop Website - Register</title>
    <%- include('layout/css_links.ejs') %>
</head>

<body>
    <%- include('layout/header.ejs') %>

	<div style="height: 120vh;">
		<div class="text-center login-contents">
			<p class="font-weight-bold text-danger"> <%= message %> </p>
		</div>
	
		<div class="row mt-1 px-0 mb-5">
			<div class="col-2 col-md-4 px-0"></div>
			<form class="col-8 col-md-4 bg-light p-3 mt-5" action="/register" method="post">
				<h4>Register</h4>
				<div class="form-group">
					<label class="my-1">First name</label>
					<input 
						type="text"
						name="first_name"
						class="form-control" 
						placeholder="Enter first name" 
						required
					/>
				</div>

				<div class="form-group">
					<label class="my-1">Last name</label>
					<input 
						type="text"
						name="last_name"
						class="form-control" 
						placeholder="Enter last name" 
						required
					/>
				</div>
				
				<div class="form-group">
					<label class="my-1">Email</label>
					<input 
						type="text"
						name="email"
						class="form-control" 
						placeholder="Enter email" 
						required
					/>
				</div>
	
				<div class="form-group">
					<label class="my-1">Password</label>
					<div class="d-flex">
						<input 
							type="password"
							name="password"
							class="form-control" 
							placeholder="Enter password" 
							required
						/>
						<button type="button" class="ml-1 btn btn-light visibility-btn" aria-label="Toggle Visibility" onclick="toggleVisibility(this)">
							<i class="far fa-eye"></i>
						</button>
					</div>
				</div>

				<div class="form-group">
					<label class="my-1">Re-enter Password</label>
					<div class="d-flex">
						<input 
							type="password"
							name="password"
							class="form-control" 
							placeholder="Enter password" 
							required
						/>
						<button type="button" class="ml-1 btn btn-light visibility-btn" aria-label="Toggle Visibility" onclick="toggleVisibility(this)">
							<i class="far fa-eye"></i>
						</button>
					</div>
				</div>
	
				<div class="text-center">
					<button type="submit" class="btn btn-primary col-6 col-md-2 my-3" id="login-btn">Register</button>
				</div>
	
				<div class="row justify-content-between">
					<div class="col-6 col-md-6">
						<span class="forgot-password">
							You had account? Login 
							<a href="/login">here</a>
						</span>
					</div>
				</div>
			</form>
			
			<div class="col-2 col-md-4"></div>
		</div>
	</div>

    <%- include('layout/footer.ejs') %>
    
</body>