* {
	/* margin: 0;
	padding: 0; */
	box-sizing: border-box;
}
body {
	font-family: 'Poppins', sans-serif;
}

label {
	font-weight: 500;
}

#back-to-top-btn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
}

.header {
	background: radial-gradient(#fff, #ff704d);
	/*transition: 0.4s;*/
}

.header-page {
	background: radial-gradient(#fff, #ff704d);
	margin-top:  90px;
}

.header-container {
	max-width: 60%;
	margin: auto;
}

@media only screen and (max-width:  600px) {
	.header-container {
		max-width: 100%;
		margin: auto;
	}
}

.web-navbar {
	/* display: flex; */
	/* transition: 0.4s; */
	/*align-items: center;*/
	/*padding: 10px;*/
}
.web-nav {
	/*flex: 1;*/
	/*text-align: right;*/
}

nav.web-nav ul {
	display: inline-block;
	list-style-type: none;
}
nav.web-nav ul li {
	display: inline-block;
	margin-right: 20px;
}
nav.web-nav ul li a {
	/* font-weight: bold; */
	color: #000;
}

.web-nav-link {
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
	color: black !important;
}
.web-nav-link:hover {
	font-weight: bold;
	text-decoration: none;
	color: grey;
}

.categories {
	margin-top: 100px;
}

.price-font {
	color: #555;
}

.product-name {
	font-size: 16px;
	color: #000;
	font-weight: 500;
}

.product-detail {
	margin: 0 auto;
	/* width: 960px; */
	height: 500px;
}

.product-link {
	text-decoration: none;
}

.product-info {
	font-size: 22px;
}

.product-price {
	font-size: 30px;
	font-weight: 300;
}

.back-btn {
	position: relative;
	left: 900px;
}

/* product quantity button group */


/* add-to-cart */
.buttons {
    padding: 10px;
    /* background-color: #d6d4d4; */
    border-radius: 8px;
    position: relative
}

.dot {
    height: 14px;
    width: 14px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    left: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    color: #fff;
    opacity: 0
}

.cart-button {
    height: 48px
}

.cart-button:focus {
    box-shadow: none
}

.cart {
    position: relative;
    height: 48px !important;
    width: 50px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 11px;
    border-radius: 5px;
    font-size: 21px
}

.cart-button.clicked {
	background-color: #006400;
}

.cart-button.clicked span.dot {
    animation: item 0.3s ease-in forwards
}

/* Vertical Navbar */
.vertical-navbar {
	padding-left: 0px;
}

.vertical-navbar li a {
	color: black;
	display: block;
	padding: 12px;
	text-decoration: none;
}

.vertical-navbar li a:hover {
	background-color: #f8f9fa;
}

.vertical-navbar li a.navbar-active {
	background-color: #f8f9fa;
	font-weight: 700;
}

/* Barge */
.badge {
	font-size: 16px !important;
	transition: transform .3s ease-out;
}

.logo img{
	border-radius: 20%;
}

/*.btn{
	display: inline-block;
	background: #ff523b;
	color: #fff;
	border-radius: 30px;
	transition: background 0.5s;
}
.btn:hover{
	background: #ff614d;
}*/


.title{
	text-align: center;
	margin: 20 auto 80px;
	position: relative;
	line-height: 60px;
}
.title:after{
	content: '';
	background: #ff523b;
	width: 110px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.rating .fa{
	color: #ff704d;
}

.offer {
	background: radial-gradient(#fff, #ff704d);
	padding: 30px 0;
}
.col-2 .offer-img{
	padding: 50px;
}
small{
	color: #555;
}
.brands{
	margin: 100px auto;
}

.brand-logo{
	width: 160px;
}
.brand-logo img{
	width: 100%;
	cursor: pointer;
	filter: grayscale(100%);
}
.brand-logo img:hover{
	filter: grayscale(0%);
}
.footer{
	background: #000;
	color: #8a8a8a;
	font-size: 14px;
	padding: 60px 0 20px;
}
.footer p{
	color: #8a8a8a;
}
.footer h3{
	color: #fff;
	margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
	min-width: 250px;
	margin-bottom: 20px;
}
.footer-col-1{
	flex-basis: 30%;
}
.footer-col-2{
	flex: 1;
	text-align: center;
}
.footer-col-2 img {
	width: 180px;
	margin-bottom: 20px;
	border-radius: 20%;
}
.footer-col-3, .footer-col-4{
	flex-basis: 12px;
	text-align: center;
}
ul{
	list-style-type: none;
}
.app-logo{
	margin-top: 20px;
}
.app-logo img{
	width: 140px;
}
.footer hr{
	border: none;
	background: #b5b5b5;
	height: 1px;
	margin: 20px 0;
}
.copyright{
	text-align: center;
}
.menu-icon{
	display: none;
	width: 28px;
	margin-left: 20px;
}

.login-contents {
	margin-top: 70px;
}

.rating {
	display: inline;
}

.rating li {
	display: inline-block;
}




	
	





