<!-------- header -------->
<div class="web-navbar fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light web-nav container">
        <a class="logo nav-brand" href="/">
            <img src="img/logo.png" width="125px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link web-nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/products?category=all&page=1" class="nav-link web-nav-link">Products</a>
                </li>
                <li class="nav-item">
                    <a href="/about" class="nav-link web-nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link web-nav-link">Contact</a>
                </li>

                <li class="nav-item dropdown">
                    <div class="dropdown">
                        <a type="button" class="nav-link web-nav-link dropdown-toggle" id="dropdownMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>

                        <% if (currentUser) { %>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                                <a class="dropdown-item web-nav-link" href="/user"> <%= currentUser.first_name + " " + currentUser.last_name %> </a>
                                <form action="/logout" method="post">
                                    <input type="hidden" name="param1" value="val" />
                                    <input type="hidden" name="param2" value="val2" />
                                    <button type="submit" class="dropdown-item web-nav-link">Logout</button>
                                </form>
                            </div>
                            <script>
                                var userId = <%= currentUser.id %> 
                            </script>
                        <% } else { %>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                                <a class="dropdown-item web-nav-link" href="/login">Login</a>
                                <a class="dropdown-item web-nav-link" href="/register">Signup</a>
                            </div>
                        <% } %> 
                    </div>
                </li>

                <li class="nav-item">
                    <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fa fa-2x fa-shopping-cart position-relative">
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger d-none" id="badge-num">
                                0
                            </span>
                        </i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>